---
import slugify from "slugify-ts";
import { Image } from "astro:assets";
import { getCollection, render } from "astro:content";

import Layout from "../../layouts/Layout.astro";
import catImage from "../../assets/cat1.avif";

const projects = await getCollection("notionContent");

export async function getStaticPaths() {
  const projects = await getCollection("notionContent");
  return projects.map((project) => {
    return {
      params: { project: slugify(project.data.properties.project) },
      props: project,
    };
  });
}

const entry = Astro.props;
const { Content } = await render(entry);
---

<Layout>
  <p
    class="grid grid-cols-[minmax(0,1fr)_50px] md:grid-cols-[minmax(0,1fr)_minmax(0,1fr)_minmax(0,1fr)_50px] text-lg md:text-sm relative z-50 mt-32"
  >
    <span>{entry.data.properties.client}</span>
    <span class="hidden md:inline">
      {entry.data.properties.project}
    </span>
    <span class="hidden md:inline">
      {entry.data.properties.tags}
    </span>
    <span class="text-right">{entry.data.properties.year}</span>
  </p>
  <div class="notion-content">
    <Content />
  </div>
  <hr class="my-5" />
  <ul class="mb-5">
    {
      projects.map((project) => {
        if (project.id === entry.id) {
          return (
            <li>
              <span class="grid grid-cols-[minmax(0,1fr)_50px] md:grid-cols-[minmax(0,1fr)_minmax(0,1fr)_minmax(0,1fr)_50px] text-lg md:text-sm relative z-50 text-gray-400">
                <span>{project.data.properties.client}</span>
                <span class="hidden md:inline">
                  {project.data.properties.project}
                </span>
                <span class="hidden md:inline">
                  {project.data.properties.tags}
                </span>
                <span class="text-right">{project.data.properties.year}</span>
              </span>
            </li>
          );
        }

        return (
          <li>
            <a
              class="grid grid-cols-[minmax(0,1fr)_50px] md:grid-cols-[minmax(0,1fr)_minmax(0,1fr)_minmax(0,1fr)_50px] text-lg md:text-sm relative z-50"
              href={`/projects/${slugify(project.data.properties.project)}`}
            >
              <span>{project.data.properties.client}</span>
              <span class="hidden md:inline">
                {project.data.properties.project}
              </span>
              <span class="hidden md:inline">
                {project.data.properties.tags}
              </span>
              <span class="text-right">{project.data.properties.year}</span>
            </a>
          </li>
        );
      })
    }
  </ul>
</Layout>
