---
import "../styles/global.css";
import { Image } from "astro:assets";
import logoTop from "../assets/logo_mobile_1.svg";
import logoBottom from "../assets/logo_mobile_2.svg";
import logo from "../assets/logo_desktop.svg";

const data = [
  "projet1",
  "projet2",
  "projet3",
  "projet4",
  "projet5",
  "projet6",
  "projet7",
  "projet8",
  "projet9",
  "projet10",
  "projet11",
  "projet12",
];
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Bureau Duplex</title>
  </head>
  <body>
    <div class="h-screen flex flex-col p-3">
      <header>
        <ul class="flex justify-between uppercase text-sm mb-3">
          <li>Bureau Duplex</li>
          <li>Index</li>
          <li>About</li>
        </ul>
      </header>
      <Image class="w-full md:hidden" src={logoTop} alt="Bureau Duplex" />
      <div class="grow">
        <div
          class="h-full flex-col items-end hidden md:flex"
          x-data="{showed: 'none'}"
        >
          <div class="w-full grow">
            {
              data.map((index) => (
                <div
                  class="h-full"
                  style="border: 1px solid green;"
                  x-show={`showed === '${index}'`}
                  x-cloak
                >
                  Zone {index}
                </div>
              ))
            }
          </div>
          <div class="flex relative">
            <Image src={logo} alt="Bureau Duplex" />
            <div class="flex h-full absolute bottom-0 left-0 right-0">
              {
                data.map((index) => (
                  <div
                    class="grow h-full"
                    style="border: 1px solid red;"
                    x-on:mouseenter={`showed = '${index}'`}
                    x-on:mouseleave={`showed = 'none'`}
                  />
                ))
              }
            </div>
          </div>
        </div>
      </div>
      <Image class="w-full md:hidden" src={logoBottom} alt="Bureau Duplex" />
    </div>
  </body>
</html>
